{% extends "layout.njk" %}

{% block head %}
    <title>Professores</title>
{% endblock %}

{% block content %}
<div class="card">
    <section class="avatar">

    </section>
    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Professor</div>
            <div>Joao Pedro</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>32/div>
        </div>

        <div class="item">
            <div>Formacao</div>
            <div>Mestre em Quimica</div>
        </div>

        <div class="item">
            <div>Aulas</div>
            <div>Presenciais e EAD</div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>26/03/2021</div>
        </div>

    </section>
</div>

 
{% endblock %}